
<div class="widget wgreen">
    <div data-cc-widget-header title="Edit Employee">Add Employee</div>
    <div class="widget-content user">
        <form name="employeeForm" ng-submit="updateEmployee()" novalidate>
            <div class="form-group">
                <label for="uName">Name</label>
                <input type="text" class="form-control" name="uName" ng-model="employee.name.first" placeholder="name" required>
                <span ng-show="employeeForm.uName.$invalid && !employeeForm.uName.$pristine " class="z-decorator">You name is required.</span>

            </div>
            <div class="form-group">
                <label for="uCompany">Company</label>
                <input type="text" class="form-control" name="uCompany" ng-model="employee.company" placeholder="company" required>
                <span ng-show="employeeForm.uCompany.$invalid && !employeeForm.uCompany.$pristine ">You company is required.</span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="uEmail" class="form-control" ng-model="employee.email" placeholder="email" required>
                <div ng-show="employeeForm.$submitted || employeeForm.uEmail.$touched">
                    <span ng-show="employeeForm.uEmail.$error.required">Tell us your email.</span>
                    <span ng-show="employeeForm.uEmail.$error.email">This is not a valid email.</span>
                </div>
            </div>
            <button type="submit" class="btn btn-info" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="updateEmployee()">Save</button>
            <button type="button" class="btn btn-primary" ng-click="deleteEmployee()">Delete</button>
        </form>
    </div>

</div>
