
<div class="container table table-condensed" style="margin-top:20px">
    <div class="container-fluid">
        <div class=" form-search row ">
            <input class=" form-control search-query" ng-model="searchText" placeholder="Filter employee,company name">
        </div>
        <div class="row">
            <div class="widget worange " ng-repeat="emp in employees | filter:searchText" ng-click="editEmployee(emp)">

                <div class="widget-content">
                    <div class="padd">
                        <div class="row tile-turquoise">

                            <div class="col-md-4 tile-clouds">
                                <img class="img-thumbnail  user-pic" src="~/Images/Employee/image1.jpg" alt="Alternate Text" />
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-2">
                                        <b>Name :</b>
                                    </div>
                                    <div class="col-md-6">
                                        {{emp.name.first+' '+emp.name.last}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <b>Company :</b>
                                    </div>
                                    <div class="col-md-6">
                                        {{emp.company}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <b>Email :</b>
                                    </div>
                                    <div class="col-md-6">
                                        {{emp.email}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <b>phone :</b>
                                    </div>
                                    <div class="col-md-6">
                                        {{emp.phone}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <b>about :</b>
                                    </div>
                                    <div class="col-md-8">
                                        {{emp.about}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


