
<div class="container table table-condensed table-striped" style="margin-top:20px">
    <div class="row container-fluid">
        <div class=" form-search row ">
            <input class=" form-control search-query" ng-model="searchText" placeholder="Filter company name">
        </div>
        @*<div class="widget worange">
                <div class="widget-content row">

                </div>
            </div>*@
        <div class="widget worange ">
            <div class="widget-content row">
                <div class=" widget-head">
                    <div class="">
                        <div class="row">
                            <div class=" col-md-4">
                                <b>Name</b>
                            </div>
                            <div class="col-md-4">
                                <b>NationalID Number</b>
                            </div>
                            <div class="col-md-4">
                                <b>Email Address</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padd" ng-repeat="person in persons | filter:searchText">
                    <div class="row tile-turquoise">
                        <div class="col-md-4">
                            {{person.FirstName}} {{person.LastName}}
                        </div>
                        <div class="col-md-4">
                            {{person.Employee.NationalIDNumber}}
                        </div>
                        <div class="col-md-4">
                            {{person.EmailAddresses[0].EmailAddress1}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
